* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f5ec;
  }

  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: #805b3d;
  }

  label {
    display: block;
    margin: 10px 0 5px;
    color: #805b3d;
  }

  .input-group {
    position: relative;
    width: 100%;
  }

  .input-group i {
    position: absolute;
    left: 10px;
    top: 56%;
    transform: translateY(-50%);
    color: black; /* Set the icon color to black */
  }

  input {
    width: calc(100% - 30px);
    padding: 8px 30px 8px 30px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #805b3d;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #63482f;
  }

  .bakery-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .register-btn {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

  .home-btn {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

  .register-txt {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

  img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Media Queries for responsiveness */
  @media (max-width: 600px) {
    .login-container {
      width: 90%;
    }
  }